@import "tailwindcss";

/* 
 Choose between `mocha`, `frappe` or `macchiato` for dark mode, latte is included as the light mode flavour.
 We recommend using `mocha` for dark mode.
*/

@import "@catppuccin/tailwindcss/mocha.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: Arial, Helvetica, sans-serif;
}
